.content {
    width: 50vw;
    margin: auto;
}

.bookText {
    border: solid orange 3px;
    border-radius: 32px;
    height: auto;
    background-color: burlywood;
    padding-left: 32px;
    padding-right: 32px;
}

.bookTextFrame {
    width: 100%;
    height: 90vh;
    overflow-y: hidden;
    border: none;
}

.bookTextInner p, .bookTextInner h1, .bookTextInner h2, .bookTextInner h3,
.bookTextInner h4, .bookTextInner h5, .bookTextInner h6, .bookTextInner span, 
.bookTextInner div, .bookTextInner a, .bookTextInner table, .bookTextInner li {
    color: rgb(66, 66, 66);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}