.container {
    width: 50vw;
    margin: auto;
}

.book_list {
    list-style: none;
    width: 100%;
    margin: auto;
    padding: 0;
}

.bookListInner {
  display: grid;
  grid-template-columns: repeat(auto-fit, 23%);
  grid-column-gap: 2%;
  width: 80%;
  margin: auto;
}

.book {
    margin-bottom: 2.5vh;
    overflow: hidden;
    transition: transform 1.5s;
}

.book:hover {
  transform: scale(1.05, 1.05);
}

.bookImage {
    width: 95%;
    height: 260px;
    background-size: cover;
    border: 2px solid orange;
    box-shadow: 6px 6px black;
}

.noImageBook {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(66, 66, 66);
    background-color: burlywood;
    height: 100%;
}

.audioIndicator {
  font-size: 64px;
  width: 50%;
  margin: auto;
}

.pageSelector {
  width: 50vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20%);
  margin-top: 3vh;
  margin-bottom: 2vh;
  background-color: orange;
  box-shadow: 6px 6px black;
}

.pageSelectorItem {
  text-align: center;
  color: blueviolet;
  font-size: 32px;
  transition: transform 0.5s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pageSelectorItem:hover {
  transform: scale(1.25, 1.25);
}

.pageSelectorItemCenter {
  color: indigo;
}

.pageSelectorItemCenter:hover {
  transform: scale(1, 1);
}

.pageSelectorItemOutside {
  color: darkred;
}

@media all and (min-width: 1000px) and (max-width: 1600px) {
  .bookListInner {
      grid-template-columns: repeat(auto-fit, 31%);
  }
}

@media all and (min-width: 600px) and (max-width: 1000px) {
    .bookListInner {
        grid-template-columns: repeat(auto-fit, 48%);
    }

    .pageSelectorItemOutside {
      visibility: hidden;
      position: absolute;
    }

    .pageSelector {
      display: flexbox;
      justify-content: space-evenly;
    }
}

@media all and (max-width: 600px) {
    .bookListInner {
        grid-template-columns: 105%;
    }

    .pageSelectorItemOutside {
      visibility: hidden;
      position: absolute;
    }

    .pageSelector {
      grid-template-columns: 30% 33% 30%;
    }
}