.content {
    width: 50vw;
    margin: auto;
}

.bookText {
    border: solid orange 3px;
    height: auto;
}

.bookTextFrame {
    width: 100%;
    height: 90vh;
    overflow-y: hidden;
    border: none;
}

.content p {
    color: antiquewhite;
}