@keyframes hoverAnimation {
  from {
    transform: scale(1.0, 1.0);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

@keyframes hoverAnimationRev {
  from {
    transform: scale(1.5, 1.5);
  }
  to {
    transform: scale(1.0, 1.0);
  }
}

.navigation {
  background-color: black;
  color: antiquewhite;
  text-align: center;
  font-size: clamp(16px, 5vw, 32px);
  position: sticky;
  border-bottom: 3px solid orange;
}

.linkIcon {
  margin: 16px;
  animation: hoverAnimationRev 0.5s;
  transform: scale(1, 1);
}

.linkIcon:hover {
  animation: hoverAnimation 0.5s;
  transform: scale(1.5, 1.5);
}

.contentWrapper {
  background-image: url("/books_background.jpg");
  background-size: cover;
}

.contentWrapperBackdrop {
  backdrop-filter: blur(7px);
  height: 92vh;
}

.content {
  width: 50vw;
  margin: auto;
  color: antiquewhite;
  font-size: 24px;
  text-align: center;
}

.logo {
  width: 100%;
  height: clamp(155px, 25vw, 800px);
  background-image: url("/scrollhub.png");
  background-size: cover;
}